﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/HomeLayoyt.cshtml";
}

<h2>Register</h2>
<form action="">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="password">
    </div>
    <div class="form-group">
        <label for="pwd">Age:</label>
        <input type="text" class="form-control" placeholder="Enter Age" id="age">
    </div>
    <div class="form-group">
        <label for="pwd">Phone:</label>
        <input type="text" class="form-control" placeholder="Enter Phone" id="phone">
    </div>
    <div class="form-group">
        <label for="pwd">Address:</label>
        <input type="text" class="form-control" placeholder="Enter Address" id="address">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>


<style>
    .container form button {
        margin-bottom: 20px
    }

    .container h2 {
        color: burlywood;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px
    }
</style>
