﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/HomeLayoyt.cshtml";
}


<div class="row">
    <h1>Liquid_Filling_Category</h1>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Air_Pressure:</h5>
        <h5>Air_Volumn:</h5>
        <h5>Filling_Speed:</h5>
        <h5>Filling_Range:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Air_Pressure:</h5>
        <h5>Air_Volumn:</h5>
        <h5>Filling_Speed:</h5>
        <h5>Filling_Range:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Air_Pressure:</h5>
        <h5>Air_Volumn:</h5>
        <h5>Filling_Speed:</h5>
        <h5>Filling_Range:</h5>
    </div>
</div>
<div class="row">
    <h1>Table_Category</h1>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Model_Number:</h5>
        <h5>Dies:</h5>
        <h5>Max_Pressure:</h5>
        <h5>Max_Depth:</h5>
        <h5>Production_Capacity:</h5>
        <h5>Machine_Size:</h5>
        <h5>Net_Weight:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Model_Number:</h5>
        <h5>Dies:</h5>
        <h5>Max_Pressure:</h5>
        <h5>Max_Depth:</h5>
        <h5>Production_Capacity:</h5>
        <h5>Machine_Size:</h5>
        <h5>Net_Weight:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Model_Number:</h5>
        <h5>Dies:</h5>
        <h5>Max_Pressure:</h5>
        <h5>Max_Depth:</h5>
        <h5>Production_Capacity:</h5>
        <h5>Machine_Size:</h5>
        <h5>Net_Weight:</h5>
    </div>
</div>
<div class="row">
    <h1>Capsule_Encapsulation_Category</h1>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Output:</h5>
        <h5>Capsule_Size:</h5>
        <h5>Machine_Dimension:</h5>
        <h5>Hipping_Weight:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Output:</h5>
        <h5>Capsule_Size:</h5>
        <h5>Machine_Dimension:</h5>
        <h5>Hipping_Weight:</h5>
    </div>
    <div class="col-md-3">
        <h5>Name:</h5>
        <h5>Output:</h5>
        <h5>Capsule_Size:</h5>
        <h5>Machine_Dimension:</h5>
        <h5>Hipping_Weight:</h5>
    </div>
</div>



