﻿@model Pharmecy1Web.Models.Capsule_Encapsulation_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/HomeLayoyt.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Capsule_Encapsulation_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Output)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capsule_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capsule_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Dimension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Dimension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hipping_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hipping_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name_Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_capsule }) |
    @Html.ActionLink("Back to List", "Index")
</p>
