﻿@model Pharmecy1Web.Models.Liquid_Filling_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Liquid_Filling_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Air_Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Air_Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Air_Volumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Air_Volumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filling_Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filling_Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filling_Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filling_Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name_Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Liquid_Filling }) |
    @Html.ActionLink("Back to List", "Index")
</p>
