﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/HomeLayoyt.cshtml";
}



<div class="contact-info">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8997277972267!2d108.22046901413661!3d16.070692343669144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183179c52c63%3A0x3d1c14b0f0b85474!2zMTggWcOqbiBCw6FpLCBI4bqjaSBDaMOidSAxLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1617812314616!5m2!1sen!2s" width="850" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h2>Contact Us</h2>
    <h4>We would love to hear from you !</h4>
</div>


<div class="contact-form">
    <div class="form-group">
        <label class="control-label col-sm-2" for="fname">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="lname">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="comment">Comment:</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
        

