﻿@model IEnumerable<Pharmecy1Web.Models.Table_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/DashboardLayout.cshtml";
}


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_Pressure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_Depth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Production_Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine_Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Net_Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name_Category)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Pressure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Depth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Production_Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine_Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Net_Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name_Category)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_Table }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id_Table }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_Table })
                    </td>
                </tr>
            }

        </table>

    </div>
